<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php_3_cgi" />
            <add name="php_3_cgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php_cgi\php_3_cgi\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
